[submodule "godot_include"]
	path = godot_include
	url = https://github.com/GodotNativeTools/godot_headers.git
[submodule "build-containers"]
	path = build-containers
	url = https://github.com/godotengine/build-containers.git
