[submodule "test/samples"]
	path = test/samples
	url = https://github.com/mediaelement/mediaelement-files.git
[submodule "godot_include"]
	path = godot_include
	url = https://github.com/GodotNativeTools/godot_headers.git
[submodule "ffmpeg-static"]
	path = ffmpeg-static
	url = https://github.com/jamie-pate/ffmpeg-static.git
